*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey-light-2);
  font-weight: 400;
  line-height: 1.6;
  background-color: #121725;
}

.heading-1 {
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: inherit;
  font-size: 4.6rem;
  line-height: 5.2rem;
}
@media only screen and (max-width: 60em) {
  .heading-1 {
    font-size: 4.8rem;
  }
}
.heading-1 strong {
  font-weight: inherit;
  color: var(--color-primary-green);
}
@media only screen and (max-width: 44em) {
  .heading-1 {
    font-size: 2.7rem;
    line-height: 3.8rem;
    margin-bottom: 1.8rem;
  }
}

p {
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: var(--color-grey-light-2);
}
@media only screen and (max-width: 60em) {
  p {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 44em) {
  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.container {
  position: relative;
  margin: 13rem 16.5rem;
  margin-right: 0;
}
@media only screen and (max-width: 60em) {
  .container {
    margin: 0;
  }
}

.header {
  position: absolute;
}

.margin-top-sm {
  margin-top: 2.4rem;
}

.margin-top-md {
  margin-top: 4rem;
}

.margin-top-lg {
  margin-top: 6.4rem;
}
@media only screen and (max-width: 44em) {
  .margin-top-lg {
    margin-top: 3.3rem;
  }
}

.w-66 {
  width: 66%;
}
@media only screen and (max-width: 44em) {
  .w-66 {
    width: 100%;
  }
}

:root {
  --color-primary-green: #54e6af;
  --color-primary-green-light: #b3ffe2;
  --color-grey-dark: #2c344b;
  --color-grey-light-1: #5a668a;
  --color-grey-light-2: #c2cbe5;
  --color-black: #121725;
  --color-white: #fff;
  --font-primary: "Chivo", sans-serif;
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin-left: auto;
  max-width: 127.5rem;
}
@media only screen and (max-width: 51em) {
  .hero {
    margin-left: 0;
  }
}
@media only screen and (max-width: 44em) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}
.hero__img {
  grid-column: 3/-1;
  grid-row: 1/-1;
}
@media only screen and (max-width: 44em) {
  .hero__img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.hero__bg-img {
  display: block;
  width: 100%;
  filter: brightness(90%);
}
@media only screen and (max-width: 44em) {
  .hero__bg-img {
    opacity: 10%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
.hero__content {
  grid-column: 2/span 4;
  grid-row: 3/-1;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 63.5rem;
  max-width: 72.5rem;
  padding-top: 8.8rem;
  padding-right: 5.8rem;
  background-color: var(--color-black);
  z-index: 10;
}
@media only screen and (max-width: 60em) {
  .hero__content {
    grid-column: 1/span 6;
    padding-left: 4rem;
  }
}
@media only screen and (max-width: 44em) {
  .hero__content {
    background-color: transparent;
    padding: 2.4rem;
    padding-top: 15rem;
    text-align: center;
    min-width: 34.5rem;
  }
}
@media only screen and (max-width: 44em) {
  .hero__description {
    margin: 0 auto;
    order: 2;
  }
}
.hero__registration {
  position: relative;
}
.hero__registration-email {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-grey-light-2);
  padding: 1.4rem 3.2rem;
  line-height: 2.8rem;
  background-color: var(--color-grey-dark);
  border-radius: 2.8rem;
  outline: none;
  border: none;
}
@media only screen and (max-width: 44em) {
  .hero__registration {
    order: 4;
    padding: 2.4rem;
    font-weight: 400;
  }
}
.hero__references-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  align-items: center;
}
.hero__references-img {
  filter: brightness(0) saturate(100%) invert(37%) sepia(49%) saturate(317%) hue-rotate(186deg) brightness(94%) contrast(86%);
}
@media only screen and (max-width: 60em) {
  .hero__references-img {
    width: 75%;
    gap: 2.3rem;
  }
}
@media only screen and (max-width: 44em) {
  .hero__references {
    order: 3;
  }
}

.btn {
  font-weight: 600;
  font-size: 1.4rem;
}
.btn-register {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-primary-green);
  border: none;
  border-radius: 2.8rem;
  padding: 1.4rem 2.7rem;
  margin: 0.5rem;
  margin-top: 0;
  transition: background-color 0.2s;
}
@media only screen and (max-width: 44em) {
  .btn-register {
    display: block;
    position: unset;
    transform: translateY(0);
    width: 100%;
    margin-top: 1.6rem;
    padding: 1.4rem 3.2rem;
    line-height: 2.8rem;
  }
}
.btn-register:hover, .btn-register:active {
  background-color: var(--color-primary-green-light);
  cursor: pointer;
}

.footer__img {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
}
@media only screen and (max-width: 60em) {
  .footer__img {
    left: 0;
    z-index: 20;
    transform: translateY(100%);
    bottom: -15rem;
  }
}

.header {
  position: relative;
}
.header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.4rem;
}
@media only screen and (max-width: 60em) {
  .header__img {
    top: 5rem;
    left: 4rem;
  }
}
@media only screen and (max-width: 44em) {
  .header__img {
    left: 50%;
    top: 6.2rem;
    transform: translateX(-50%);
  }
}
